* {
    font-family: sans-serif;
}

html, body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

h1 {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
}

header, main, footer {
    padding: 2vh 20vw;
    min-width: 280;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all .1s ease-out;
}

a:hover {
    border: white solid 2px ;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: space-between;
}

h2 {
    margin: 0.5em 0;
    text-align: center;
}

header {
    display: flex;
    height: 2em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #cd5c5c;
    box-shadow: 0 1px 5px 0 black;
    color: white;
    gap: 2vh;
    margin-bottom: 1em;
}

header > nav {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

header > nav > a > li {
    list-style: none;
    text-align: center;
    text-overflow: clip;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.278);
    z-index: 1;
    white-space: nowrap;
    word-wrap: normal;
    padding: 0.5em 0.5em;
}

/* TODO: Make localization once I've got a chance */
/* header > select {
    border: none;
    border-radius: 5px;
    padding: 0.5em 0.5em;
} */

.greetings-card {
    padding: 2em;
    box-shadow: 0 2px 5px 0 rgb(204, 204, 204);
}


.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
}

.greetings-card > .greetings-with-image {
    display: flex;
    align-self: center;
    justify-content: center;
}

.greetings-card > .greetings-with-image > h2 {
    text-align: center;
}

.greetings-card > .greetings-with-image > img {
    width: 3em;
    height: 3em;
}

.greetings-card  > .brief-about-with-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greetings-card > .brief-about-with-photo > img {
    order: 1;
    padding: 0.5em;
    margin: 2vh;
    width: 15vw;
    min-width: 150px;
    min-height: 150px;
    object-fit: cover;
    box-shadow: 0px 0px 13px -5px black;
    border-radius: 50%;
}

.quick-access-links > h2 {
    margin-top: 1em;
    margin-bottom: 2em;
}

.quick-access-links > .links,
.quick-access-links > .links > .links-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    justify-content: center;
    gap: 1em;
}

.quick-access-links > .links > .links-group >  a {
    transition: all 0.5s ease-out;
}

.quick-access-links > .links > .links-group >  a > .link-card {
    background-color: rgba(126, 126, 126, 0.159);
    display: flex;
    flex: 7em 8em;
    height: 8em;
    width: 8em;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2em;
    gap: 2;
}

.quick-access-links > .links > .links-group > a > .link-card > img {
    width: 3em;
    height: 3em;
}


footer {
    position: static;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    margin-top: 2em;
    padding: 2em 20vw;
}

footer > h2 {
    margin-bottom: 1em;
}

footer > .links > a {
    padding: 0.5em 1em;
    border-radius: 5px;
}

@media (max-width: 760px) {
    header {
        padding: 2vh 2vw;
    }

    main, footer {
        padding: 2vh 4vw;
    }

    h2 {
        text-align: center;
    }

    .brief-about-with-photo,
    .quick-access-links > .links,
    footer > .links {
        flex-direction: column;
    }

    .greetings-card > .brief-about-with-photo > img {
        order: 0;
    }

    .quick-access-links > .links {
        padding: 0.5em;
    }
}