* {
    font-family: sans-serif;
}

html, body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

h1 {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
}

header, main, footer {
    padding: 0 20vw;
}

header {
    padding: 2vh 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #cd5c5c;
    box-shadow: 0 1px 5px 0 black;
    color: white;
    gap: 2vh;
}

header > nav {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

header > nav > li {
    list-style: none;
    text-align: center;
    text-overflow: clip;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.278);
    border-color: white 1px solid;
    z-index: 1;
    white-space: nowrap;
}

header > select {
    border: none;
    border-radius: 5px;
    padding: 0.5em 0.5em;
}

header > nav > li > a {
    color: white;
    text-decoration: none;
    word-wrap: normal;
    border-radius: 5px;
    padding: 0.5em 0.5em;
}

header > nav > li:hover {
    border-color: white 1px solid;
}

main {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0.5em 0;
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
}

.about {
    padding-top: 4vh;
}

.profile-image {
    padding: 1vw;
    margin: 2vh;
    width: 15vw;
    min-width: 150px;
    object-fit: cover;
    box-shadow: 0px 0px 13px -5px black;
    border-radius: 50%;
    align-self: center;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.profile-image:hover {
    transform: scale(1);
}

@media (max-width: 760px) {
    header {
        padding: 2vh 2vw;
    }

    main, footer {
        padding: 2vh 2vw;
    }
}